<div class="authentication-wrapper authentication-3">
  <div class="authentication-inner">
    <div class="d-none d-lg-flex col-lg-8 align-items-center ui-bg-cover ui-bg-overlay-container p-5" [style]="fondo">
      <div class="ui-bg-overlay bg-dark opacity-50"></div>
      <div class="w-100 text-white px-5">
        <h1 class="display-2 font-weight-bolder mb-4">UNETE A NUESTRA<br>COMUNIDAD BANCO WD</h1>
        <div class="text-large font-weight-light">
          ¡Banco WD te da lo que necesitas!
        </div>
      </div>
    </div>
    <div class="d-flex col-lg-4 align-items-center bg-white p-5">
      <div class="d-flex col-sm-7 col-md-5 col-lg-12 px-0 px-xl-4 mx-auto">
        <div class="w-100">
          <div class="d-flex justify-content-center align-items-center">
            <div class="ui-w-60">
              <div class="w-100 position-relative" style="padding-bottom: 54%">
                <img class="w-100 h-100" src="../../../assets/img/logo_proyecto.png" alt="">
              </div>
            </div>
          </div>
          <h4 class="text-center text-lighter font-weight-normal mt-5 mb-0">Ingresa A tu Cuenta</h4>
          <form class="my-5" [formGroup]="formulario" (ngSubmit)="signIn()">
            <div class="form-group">
              <label class="form-label">Identificación</label>
              <input formControlName="usuario" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                <div>Clave</div>
              </label>
              <input formControlName="clave" name="password" type="password" class="form-control">
            </div>
            <div class="d-flex justify-content-center align-items-center m-0 text-center">
              <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary"
                (click)="signIn()">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-spinner></app-spinner>
</div>