<h4 class="font-weight-bold py-3 mb-4">
  {{ title }}
</h4>
<div class="ui-bordered px-4 pt-4 mb-4">
  <form class="form-row align-items-center" [formGroup]="formFilter" (ngSubmit)="searchFilter()">
    <div [class]="'col-md ' + input['clase']" *ngFor="let input of structureForm">
      <label *ngIf="input['input'] !== 'boton'"
        class="form-label">{{ deleteUnderscore(input['propiedad']) | titlecase }}</label>
      <select *ngIf="input['input'] === 'select-estado'" class="custom-select" [formControlName]="input['propiedad']">
        <option *ngFor="let item of status" [value]="item.value">{{item.viewValue}}</option>
      </select>
      <input *ngIf="input['mostrar']" type="text" class="form-control" [formControlName]="input['propiedad']">
      <label class="form-label d-none d-md-block" *ngIf="input['input'] === 'boton'">&nbsp;</label>
      <button *ngIf="input['input'] === 'boton'" type="submit"
        class="btn btn-secondary btn-block">{{ input['propiedad'] }}</button>
    </div>
  </form>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        Por paginas: &nbsp;
        <select [(ngModel)]="perPage" (change)="update()" class="custom-select custom-select-sm d-inline-block w-auto">
          <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
        </select>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
          class="form-control form-control-sm d-inline-block w-auto float-sm-right" placeholder="Search...">
      </div>
    </div>
  </div>
  <hr class="border-light m-0">
  <div class="table-responsive">
    <table class="table table-striped table-bordered card-table">
      <thead>
        <tr>
          <th *ngFor="let property of propertiesTable" class="text-nowrap cursor-pointer" (click)="setSort(property)">
            {{ deleteUnderscore(property) | titlecase}}<i class="ion text-muted ml-2" *ngIf="sortBy == property"
              [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersData">
          <td (click)="accountSelected(user)" class="align-middle" *ngFor="let valor of user">
            <span
              [ngClass]="valor === 'Activo' ? 'badge badge-success' : (valor === 'Inactivo' ? 'badge badge-danger' : '')">{{ valor }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body py-0">
    <div class="row">
      <div class="col-sm text-sm-left text-center pt-3">
        <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
      </div>
      <div class="col-sm pt-3">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage"
          (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>