<div class="clients-wrapper" [ngClass]="{'clients-sidebox-open': sideboxOpened}">
  <div [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
    class="clients-content clients-scroll container-p-x container-p-y">
    <h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-4">
      <div class="mb-2">Usuarios</div>
      <div class="mb-2" style="max-width: 200px;">
        <input type="text" [(ngModel)]="filterValue" (input)="currentPage = 1; update()" class="form-control"
          placeholder="Buscar...">
      </div>
    </h4>
    <div class="table-responsive ui-bordered">
      <table class="clients-table table table-hover m-0" *ngIf="clientsData.length">
        <tbody>
          <tr *ngFor="let client of clientsData" [ngClass]="{'bg-light': selectedClient === client && sideboxOpened}"
            (click)="selectClient(client)">
            <td class="align-middle py-3">
              <div class="media align-items-center">
                <img [src]="'assets/img/avatars/5.png'" class="d-block ui-w-40 rounded-circle" alt="">
                <div class="media-body flex-basis-auto pl-3">
                  <div>{{client['nombres']+' '+client['apellidos'] }}</div>
                  <div class="text-muted small">@{{client['correo']}}</div>
                </div>
              </div>
            </td>
            <td class="align-middle py-3">
              Documento: {{client['nro_documento']}}
            </td>
            <td class="align-middle py-3">
              <div *ngIf="client['phone']">{{client['telefono']}}</div>
            </td>
            <td class="align-middle py-3">
              <span>
                <span class="badge badge-success" *ngIf="client['estado'] === 1">Activo</span>
                <span class="badge badge-danger" *ngIf="client['estado'] === 0">Inactivo</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clients-sidebox bg-body border-left">
    <a (click)="closeSidebox()" href="javascript:void(0)"
      class="clients-sidebox-close text-muted text-xlarge font-weight-light">&times;</a>
    <div *ngIf="selectedClient" [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
      class="clients-scroll container-p-y">
      <div class="text-center p-4">
        <img [src]="'assets/img/avatars/5.png'" class="ui-w-100 rounded-circle mb-4" alt="">
        <h5 class="mb-1"><a href="javascript:void(0)"
            class="text-body">{{selectedClient['nombres']+' '+selectedClient['apellidos']}}</a></h5>
        <div class="text-muted small mb-2">{{selectedClient['correo']}}</div>
        <div class="small mb-4" *ngIf="selectedClient['telefono']">
          <div *ngIf="selectedClient['phone']">{{selectedClient['telefono']}}</div>
        </div>
      </div>
      <hr class="border-light m-0">
      <mat-accordion>
        <mat-expansion-panel [formGroup]="formulario">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Agregar Cuenta
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>

          <mat-form-field>
            <mat-label>clave</mat-label>
            <input matInput formControlName="clave">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Saldo</mat-label>
            <input matInput formControlName="saldo" type="number" min="100000">
          </mat-form-field>

          <button mat-icon-button color="primary" (click)="guardar()"
            [disabled]="!formulario.value.nombre || !formulario.value.clave || !formulario.value.saldo ">
            <mat-icon>save</mat-icon>
          </button>


        </mat-expansion-panel>
      </mat-accordion>
      <hr class="border-light m-0">
      <div class="p-4 text-center ">
        <h6 class="mb-3 mt-3">Cuentas</h6>
        <div *ngIf="arrayCuentas">
          <div *ngFor="let cuenta of arrayCuentas; let i = index" class="ui-bordered py-2 px-3"
            [ngClass]="{'mb-3': i !== (arrayCuentas.length - 1)}">
            {{cuenta.nombre}}
            <div class="text-muted small mt-1">{{cuenta.saldo}} &nbsp; | &nbsp; <a href="javascript:void(0)"
                class="text-muted" (click)="irMovimientos(cuenta)" >ver</a></div>
          </div>
        </div>
        <div *ngIf="!arrayCuentas" class="text-lighter my-4">No cuentas</div>
      </div>
    </div>
  </div>
  <app-spinner></app-spinner>
</div>