<div class="clients-wrapper" [ngClass]="{'clients-sidebox-open': sideboxOpened}">
  <div [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
    class="clients-content clients-scroll container-p-x container-p-y">
    <h4 class="d-flex flex-wrap justify-content-between align-items-center font-weight-bold pt-2 mb-4">
      <div class="mb-2">Usuarios</div>
      <div class="mb-2" style="max-width: 200px;">
        <input type="text" [(ngModel)]="filterValue" (input)="currentPage = 1; update()" class="form-control"
          placeholder="Buscar...">
      </div>
    </h4>
    <div class="table-responsive ui-bordered">
      <table class="clients-table table table-hover m-0" *ngIf="clientsData.length">
        <tbody>
          <tr *ngFor="let client of dataSeeUsers" [ngClass]="{'bg-light': selectedClient === client && sideboxOpened}"
            (click)="selectClient(client)">
            <td class="align-middle py-3">
              <div class="media align-items-center">
                <img [src]="'assets/img/avatars/'+ client['foto']" class="d-block ui-w-40 rounded-circle" alt="">
                <div class="media-body flex-basis-auto pl-3">
                  <div>{{client['nombres'] + ' ' + client['apellidos']}}</div>
                  <div class="text-muted small">{{client['usuario']}}</div>
                </div>
              </div>
            </td>
            <td class="align-middle py-3">
              {{client['correo']}}
            </td>
            <td class="align-middle py-3">
              <div>{{client['correo']}}</div>
              <div *ngIf="client['telefono']">{{client['telefono']}}</div>
            </td>
            <td class="align-middle py-3">
              <span>
                <span class="badge badge-success" *ngIf="client['estado'] === 1">Activo</span>
                <span class="badge badge-danger" *ngIf="client['estado'] === 0">Inactivo</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clients-sidebox bg-body border-left">
    <a (click)="closeSidebox()" href="javascript:void(0)"
      class="clients-sidebox-close text-muted text-xlarge font-weight-light">&times;</a>
    <div *ngIf="selectedClient" [perfectScrollbar]="{ suppressScrollX: true, wheelPropagation: true }"
      class="clients-scroll container-p-y">
      <div class="text-center p-4">
        <img [src]="'assets/img/avatars/'+ selectedClient['foto']" class="ui-w-100 rounded-circle mb-4" alt="">
        <h5 class="mb-1"><a href="javascript:void(0)"
            class="text-body">{{selectedClient['nombres'] + ' ' + selectedClient['apellidos']}}</a></h5>
        <div class="text-muted small mb-2">{{selectedClient['usuario']}}</div>
        <div class="small mb-4">
          <div>{{selectedClient['telefono']}}</div>
        </div>
        <div>
          <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-md-mail"></span></a> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-secondary"><span class="ion ion-ios-chatbubbles"></span></a>
          &nbsp;&nbsp;
          <span class="text-lighter">|</span> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-twitter"><span class="ion ion-logo-twitter"></span></a> &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-facebook"><span class="ion ion-logo-facebook"></span></a>
          &nbsp;&nbsp;
          <a href="javascript:void(0)" class="text-instagram"><span class="ion ion-logo-instagram"></span></a>
        </div>
      </div>
      <hr class="border-light m-0">
      <div class="p-4">
        <h6 class="mb-3">Mensajes</h6>
        <div *ngIf="selectedClient['messages']">
          <div *ngFor="let message of selectedClient['messages']; let i = index" class="ui-bordered py-2 px-3"
            [ngClass]="{'mb-3': i !== (selectedClient['messages'].length - 1)}">
            {{message.content}}
            <div class="text-muted small mt-1">{{message.date}} ago &nbsp; | &nbsp; <a href="javascript:void(0)"
                class="text-muted">Reply</a></div>
          </div>
        </div>
        <div *ngIf="!selectedClient['messages']" class="text-lighter my-4">No mensajes</div>
      </div>
    </div>
  </div>
  <app-spinner></app-spinner>
</div>