<div class="card mb-4">
    <h6 class="card-header">
        Crear usuario
    </h6>
    <div class="card-body">
        <form [formGroup]="formUser" (ngSubmit)="saveUser()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Nombres</label>
                    <input formControlName="nombres" type="text" class="form-control" placeholder="Nombres">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Apellidos</label>
                    <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Telefono</label>
                    <input formControlName="telefono" type="tel" class="form-control" placeholder="Telefono">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Correo</label>
                    <input formControlName="correo" required type="email" class="form-control" placeholder="Correo">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Documento</label>
                    <input formControlName="documento" type="number" class="form-control" placeholder="number">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Usuario</label>
                    <input formControlName="usuario" type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input formControlName="clave" type="password" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Crear Usuario</button>
            <button type="button" (click)="clearForm()" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</div>