<div class="card mb-4">
    <h6 class="card-header">
      Crear usuario
    </h6>
    <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="crear()" *ngIf="formulario">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Telefono" formControlName="telefono">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Correo</label>
                    <input  class="form-control" placeholder="Correo" formControlName="correo">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Documento</label>
                    <input type="number" class="form-control" placeholder="number" formControlName="documento">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" formControlName="usuario" placeholder="usuario">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" formControlName="clave">
                </div>
                <!---- <div class="form-group col-md-6">
                    <label class="switcher switcher-lg">
                        <input type="checkbox" class="switcher-input">
                        <span class="switcher-indicator">
                          <span class="switcher-yes">
                            <span class="ion ion-md-checkmark"></span>
                          </span>
                          <span class="switcher-no">
                            <span class="ion ion-md-close"></span>
                          </span>
                        </span>
                        <span class="switcher-label">Large</span>
                    </label>
                </div> ---->

            </div>
            
            <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">Crear Usuario</button>
            <button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
            
            
        </form>
    </div>
  </div>